.THIS .myHeader {
    height: 50px;
    background-color: #6372e0;
    color: aquamarine;
    padding-top: 15px;
    font-size: 1rem;
}
.THIS .myFooter {
    height: 50px;
    background-color: #6372e0;
    color: aquamarine;
    padding-top: 15px;
    font-size: 1rem;
}
.THIS {
    background-color: white;
}
.slds-template_default {
    padding: 0;
}
.oneFlexipage {
    padding-bottom: 0;
}