.THIS .myHeader {
    height: 50px;
    background-color: #6372e0;
    color: aquamarine;
    padding-top: 15px;
    font-size: 1rem;
}
.THIS .myFooter {
    height: 50px;
    background-color:rgba(0, 0, 0, 0.87);
    color: white;
    padding-top: 15px;
    font-size: 1rem;
}
.THIS {
    background-color: white;
}
.THIS .slds-template_default {
    padding: 0;
}
.THIS .oneFlexipage {
    padding-bottom: 0;
}
.THIS .oneFlexipage {
    padding-bottom: 0;
}